@import '~bootstrap/dist/css/bootstrap.min.css';
@import "./index.css";

html,
body {
    height: 100%;
}

#navbar {
    background-color: #2b71d3;
}

#navbar * {
    color: white;
}

#content {
    background-color: #a9c2d3;
}

body {
    overflow-x: hidden;
}

#footer{
    background-color: #4472b1;
}

.hide-scroll {
    overflow-y: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.hide-scroll::-webkit-scrollbar { 
    display: none;  
} 

.cover-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
select.form-control {
    /* width: 200px; 設置寬度為您希望的大小，以像素為單位 */
    font-size: 21px; /* 設置字體大小為16像素，您可以根據需要調整這個值 */
}

.bot,
.justify-alignment {
    text-align: justify;
    text-justify: inter-word;
}